/* start rules */
* {
    box-sizing: border-box;
    font-family: outfit;
    margin: 0;
}
:root {
    --slate-900 : hsl(218, 44%, 22%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-300: hsl(212, 45%, 89%);
    --white:hsl(0, 0%, 100%);
}
/*  end rules */

/* start media queries */
/* mobile */
@media (max-width:375px){
    
}
/* desktop */
@media (max-width:1440px){

}


/* end media queries */
body {
    background-color: var(--slate-300);
}

.container {
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
   background-color: var(--white);
   width: 320px;
   height: 500px;
   border-radius: 20px;
   padding: 16px 16px 40px 16px;
}
.card img{
    width: 288px;
    height: 288px;
    border-radius: 10px;
}
.card .text {
    text-align: center;
    padding: 24px 16px 0 16px;
}
.card .text h2{
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0;
    font-weight: bold;
    color: var(--slate-900);
}
.card .text p{
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    padding-top: 16px;
    color: var(--slate-500);
}